@mixin sectionRow($justify) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
}

@mixin sectionColumn($align) {
  display: flex;
  flex-direction: column;
  align-items: $align;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
