$primary: #1ea5fc;
$primary3: #cdebfe;
$primaryGradient: linear-gradient(248.76deg, #1ea5fc 0%, #1ec1fc 100%);
$primaryGradientActive: linear-gradient(248.76deg, #378DFC 0%, #37A7FC 100%);
$primaryShadow: 1px 2px 15px 1px rgba(30, 165, 252, 0.2);

$background: #fefffe;
$backgroundShadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.06);

$error: #f5484e;
$errorActive: #F23037;
$error3: #fdd8da;
$errorGradient: linear-gradient(248.55deg, #f5484e 0%, #f54966 100%);
$errorShadow: 1px 2px 15px 1px rgba(109, 222, 128, 0.2);

$warning: #ffbe5e;
$warningGradient: linear-gradient(248.98deg, #ffbe5e -1.62%, #ffac5e 100%);

$success: #6dde78;
$successActive: #5BD567;
$success3: #e0fbe2;
$successGradient: linear-gradient(248.55deg, #6dde78 0%, #6dde87 100%);
$successShadow: 1px 2px 15px 1px rgba(109, 222, 128, 0.2);

$primaryText: #80939d;
$bodyCopy: #233c4d;

$gray5: #e9ebed;
$gray5Shadow: 1px 2px 15px 1px rgba(208, 208, 208, 0.3);
$gray6: #f4f5f6;
